1. csv 폴더에서 Sales Records.csv 파일 로드 
2. 'Order ID', 'Total Revenue', 'Total Cost', 'Total Profit', 'Sales Channel' 컬럼을 제거 
3. 컬럼의 이름들을 변경 -> ['대륙', '국가', '상품종류', '우선순위', '주문일자', '발송일자', '판매개수', '단가', '원가']
4. 데이터의 결측치가 존재하는가?
5. 대륙, 국가를 기준으로 오름차순 정렬 
6. 인덱스를 재지정(기존의 인덱스를 제거)
7. 새로운 파생변수 생성 
    - 총단가 : 판매개수 * 단가
    - 총원가 : 판매개수 * 원가
    - 총이윤 : 총단가 - 총원가

In [ ]:
import pandas as pd

In [ ]:
# Sales Records.csv 파일을 로드 
# 상위로 이동(../) -> 상위로 이동(../) 
# -> csv 하위폴더이동(csv/) -> Sales Records.csv
sales = pd.read_csv('../../csv/Sales Records.csv')

In [ ]:
sales.head()

In [ ]:
## 특정 컬럼을 제거 
sales.drop(
    ['Order ID','Total Revenue', 'Total Cost', 
     'Total Profit', 'Sales Channel'], 
    axis=1, 
    inplace = True
)

In [ ]:
# 컬럼의 이름을 변경 
sales.columns = ['대륙', '국가', '상품종류', '우선순위', 
                 '주문일자', '발송일자', '판매개수', 
                 '단가', '원가']

In [ ]:
sales.head(1)

In [ ]:
## 결측치를 확인
## 데이터프레임의 정보를 출력 
sales.info()

In [ ]:
## 통계요약정보를 출력 
sales.describe()

In [ ]:
## 컬럼별 결측치의 개수를 출력 
sales.isna().sum()

In [15]:
## 데이터를 백업 
df = sales.copy()

In [ ]:
df.head(1)

In [19]:
# 오름차순 정렬 ( 기준이 되는 데이터가 2개 [대륙, 국가])
df.sort_values(
    ['대륙', '국가'], 
    inplace = True
)

In [21]:
# 인덱스를 초기화 (기존의 인덱스는 제거)
df.reset_index(drop=True, inplace=True)

In [ ]:
## 3개의 파생변수를 생성
## 총단가 = 판매개수 * 단가
df['총단가'] = df['판매개수'] * df['단가']
df.head(3)

In [26]:
## 총원가 = 판매개수 * 원가
df['총원가'] = df['판매개수'] * df['원가']
## 총이윤 = 총단가 - 총원가
## 총이윤 = (단가 - 원가) * 판매개수
df['총이윤'] = df['총단가'] - df['총원가']

In [27]:
df.head()

,대륙,국가,상품종류,우선순위,주문일자,발송일자,판매개수,단가,원가,총단가,총원가,총이윤
0,Asia,Bangladesh,Personal Care,L,12/11/2016,1/13/2017,9420,81.73,56.67,769896.60,533831.40,236065.20
1,Asia,Bangladesh,Cosmetics,M,7/29/2010,9/11/2010,577,437.20,263.33,252264.40,151941.41,100322.99
2,Asia,Bangladesh,Vegetables,C,4/28/2014,5/5/2014,34,154.06,90.93,5238.04,3091.62,2146.42
3,Asia,Bangladesh,Cereal,L,6/22/2010,6/28/2010,9768,205.70,117.11,2009277.60,1143930.48,865347.12
4,Asia,Bangladesh,Office Supplies,H,3/20/2013,4/11/2013,7731,651.21,524.96,5034504.51,4058465.76,976038.75

1. 대륙별 총이윤의 합이 가장 높은 대륙은 어디인가?
2. 국가별 총이윤의 함이 가장 높은 상위 10개의 국가는 어디인가?
3. 어떤 상품이 가장 많이 팔렸을까?

In [ ]:
# 대륙별 총이윤 합
# 대륙별로 그룹화 
# 그룹화 함수 : groupby( [기준이되는 컬럼] )
# case1 : 전체 데이터프레임에서 그룹화 -> 컬럼을 필터링
df.groupby(
    ['대륙']
).sum()[ ['총이윤'] ]

In [36]:
# case2 : 전체 데이터프레임에서 컬럼을 필터링 -> 그룹화
group_data = \
      df[ ['대륙', '총이윤'] ].groupby(['대륙']).sum()

In [ ]:
group_data.sort_values(['총이윤'], ascending=False)

In [41]:
## 어떤 국가가 과연 가장 많은 이윤을 내는가?
## 상위의 10개의 국가를 확인
group_data2 =\
      df[ ['국가', '총이윤'] ].groupby(['국가']).sum()

In [44]:
group_data2.sort_values(
    ['총이윤'], 
    ascending=False, 
    inplace=True
)

In [ ]:
group_data2.head(10)

In [53]:
## 과연 한국의 등수는 몇등일까?
## case1 : index는 list임으로 list 내장함수(index())를 이용
indexs = list(group_data2.index)
indexs.index('South Korea') + 1

48

In [55]:
# case2 : 인덱스를 초기화 (기존의 인덱스를 보존)
group_data3 = group_data2.reset_index()
group_data3.loc[
    group_data3['국가'] == 'South Korea'
]

             국가          총이윤
47  South Korea  23893933.75

In [ ]:
## 어떠한 상품 종류가 많이 팔렸는가?

# 그룹화 연산